.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.nav {
  display: flex;
  align-items: center;
}

// Mobile menu
.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  // transition: color 250ms $main-animation;

  // &:hover,
  // &:focus {
  //   color: $accent-color;
  // }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__icon {
  fill: currentColor;
}

.menu__container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 300px;
    padding: 48px 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 30;
    background: $primary-white-color;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
// Navigation

.nav__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.nav__item {
  @extend %list;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav__link {
  @extend %link;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: color 250ms $main-animation;

  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__link--current {
  @media screen and (min-width: 768px) {
    color: $accent-color;

    &::after {
      display: inline-block;
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}

// Header contacts

.head-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 84px;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
    margin-left: 305px;
  }
}

.head-contacts__item {
  @extend %list;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:last-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:last-child {
      margin-right: 30px;
    }
  }
}

.head-contacts__link {
  @extend %link;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .head-contacts__link--big {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }
  .head-contacts__link--small {
    font-size: 24px;
    line-height: 1.17;
  }
}

.head-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

// Header socials
.head-socials {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.head-socials__item {
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.head-socials__link {
  @extend %link;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
