// Colors
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$bg-darl-color: #2f303a;
$bg-light-color: #f5f4fa;
$button-color: #2196f3;
$button-main-color: #188ce8;
$button-sec-color: #f5f4fa;
$icon-color: #afb1b8;
// transparent colors
$semitransparent-white-color: rgba(255, 255, 255, 0.6);
$footer-icon-background-color: rgba(255, 255, 255, 0.1);
$section-background-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.5);
// animations
$main-animation: cubic-bezier(0.4, 0, 0.2, 1);
